@font-face {
   font-family: ReformaGrotesk;
   font-display: swap;
   src: url("../fonts/ReformaGrotesk-Bold.woff2") format("woff2"),
      url("../fonts/ReformaGrotesk-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: ReformaGrotesk;
   font-display: swap;
   src: url("../fonts/ReformaGrotesk-Demi.woff2") format("woff2"),
      url("../fonts/ReformaGrotesk-Demi.woff") format("woff");
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: ReformaGrotesk;
   font-display: swap;
   src: url("../fonts/ReformaGrotesk-Medium.woff2") format("woff2"),
      url("../fonts/ReformaGrotesk-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
}
