.services {
   &__heading {
      font-weight: 600;
      font-size: 52px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
   }

   &__dots {
      margin: 40px 0;
   }

   &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 80px;
   }

   &__buttons-item {
      padding: 20px 40px;
      background-color: #db3138;
      font-weight: 600;
      font-size: 32px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-right: 60px;
      color: inherit;
      &:last-child {
         margin-right: 0;
      }
   }

   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 73px 40px 50px 40px;
      border: 1px solid #898989;
      margin-right: 24px;
      text-align: center;
      img {
         margin-bottom: 27px;
      }
      &:last-child {
         margin-right: 0;
      }
   }

   &__item-heading {
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 20px;
   }

   &__item-text {
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      max-width: 230px;
      margin-bottom: 25px;
   }

   &__item-link {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      a {
         color: inherit;
      }
      padding: 15px 25px;
      transition: all 0.3s;
      background: linear-gradient(to right, #db3138 60%, #141414 40%);
      &:hover {
         background-position: 50px;
         transition: all 0.3s;
      }
   }
}
